/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  color: var(--accent-color);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--background-image);
  background-attachment: fixed;
  font-size: var(--main-font-size);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--accent-font);
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  margin-top: 102px;
  margin-left: 2px;
  margin-right: 2px;
}

.header_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  gap: 20px;
  padding: 120px 14px 0px 14px;
}

.logo {
  text-decoration: none;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-style: normal;
}

.title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 25px;
}

.theme-menu__item {
  font-size: 14px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}


.main {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
}

.cards_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.title_card {
  font-size: inherit;
  padding: 5px 10px 8px;
  font-weight: 700;
}

.card {
  background-color: var(--background-color);
  border: 2px solid var(--accent-color)
}

.image_card {
  width: 371px;
  height: 371px;
  object-fit: cover;
  border: 2px solid var(--accent-color);
}

.text_card {
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: center;
  padding: 25px;
  font-weight: 400;
}

.buttons_card {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: end;
  padding-right: 25px;
  padding-bottom: 25px;
}

.icon_btn {
  width: 27px;
  height: 24px;
}

.like_btn {
  padding: 9px 17px;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  font-family: PressStart2P;
  font-size: 14px;
  font-style: normal;
  font-weight: 400
}