/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --mainFont: "Inter";
    --accentFont: "PressStart2P";
    --backgroundColor: #FFFFFF;
    --accentColor: #000000;
}