/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter";
  --accent-font: "PressStart2P";
  --background-color: #fff;
  --accent-color: #000;
  --background-image: repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
                      repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
                      linear-gradient(#e7e7e7 0 0.01%, #1a1a1a);
  --main-font-size: 18px;
  --accent-font-size: 14px;
  --watermark-outline-color: rgba(255 255 255 / 0.5);
  --watermark-text-color: rgba(0 0 0 / 0.5);
  --watermark-inset-inline-end: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
  --content-inline-size: 371px;
  --icon-contour-color: #000;
  --icon-color: #f00;
  --button-text-color: #fff;
}


@media (min-width: 768px) {

    :root {
      --content-inline-size: 696px;
    }
  
    .section-save__button {
      --section-save-button-direction: row;
    }
  }